<div class="card" style="width: 50%; margin-left: 20%">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Hobbie</label>
        <input type="text" class="form-control" formControlName="nombre" #nombre />
      </div>
      <div class="form-group">
        <label class="col-md-4">Describe tu aficion </label>
        <textarea class="form-control" rows=7 cols="5" formControlName="descripcion" #descripcion></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="agregarAficion(nombre.value,descripcion.value)" >Agregar aficion</button>
      </div>
    </form>
  </div>
</div>