<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Hobbie</label>
                <input type="text" class="form-control" formControlName="nombre" #nombre [(ngModel)]="aficion.nombre" />
            </div>
            <div class="form-group">
                <label class="col-md-4">Descripcion </label>
                <textarea class="form-control" rows=7 cols="5" formControlName="descripcion" #descripcion
                    [(ngModel)]="aficion.descripcion"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"
                    (click)="actAficion(nombre.value,descripcion.value)">Actualice aficion</button>
            </div>
        </form>
    </div>
</div>