<table class="table table-hover">
    <thead>
        <tr>
            <td>Hobbie</td>
            <td>Descripcion</td>
            <td colspan="2">Operaciones</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let afi of listado; let i = index">
            <td>{{ afi.nombre }}</td>
            <td>{{ afi.descripcion }}</td>
            <td><a [routerLink]="['/edit', afi._id]" class="btn btn-primary">Modificar</a></td>
            <td><a (click)="borrarAficion(afi._id,i)" class="btn btn-danger">Borrar</a></td>
        </tr>
    </tbody>
</table>